.header {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  display:flex;
  justify-content: center;
  color: #dd2e2e;
  background-color: #1a2f07;
  padding: 20px 0;
}

.menu {
  border: 1px solid #fff;
  width: 900px;
  display: flex;
  justify-content: space-between;
}